.display{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    font-size: 25px;
    /* display: inline; */
    display: inline-block;
}
#box3{
    /* display: none; */
    visibility: hidden;
}