body{
    background-color: beige;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    height: 50%;
    width: 50%;
    background-color: black;
    /* animation: name duration timing-function delay iteration-count direction; */
    animation-name: boxChangeColor;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    /* animation-direction: reverse; */
}


@keyframes boxChangeColor{
    /* from{
        background-color: black;
    } */
    /* to{
        background-color: purple; */
        /* transform: scale(1.1); */
        /* transform: skew(5deg); */
        /* transform: rotate(90deg); */
        /* transform: translateY(100px); */
    /* } */
    0%{

    }
    25%{

    }
    50%{
        
    }
    100%{

    }
}