.parent{
    height: 93vh;
    width: 90vw;
    background-color: beige;
    border: 2px solid black;
    /* position: relative; */
}

.child{
    padding: 0.4rem;
    margin: 0.5rem;
    height: 200px;
    width: 200px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    display: inline-block;
}
#box3{
    border: 2px solid red;
    /* position: static; */
    /* position: absolute; */
    position: relative;
    /* top: 500px; */
    /* left: 0px; */
    right: 10px;
}